{{ define "main" }}
<article class="flex flex-col justify-center items-center mx-1 sm:mx-4">
    {{/* Carousel of featured posts */}}
    <div class="glide w-full rounded-md overflow-hidden max-w-5xl" style="height: 30rem;">
        <div class="glide__track h-full" data-glide-el="track">
            <div class="glide__slides h-full flex flex-row flex-nowrap place-content-center gap-x-1">
                {{ range first 7 (where site.RegularPages.ByPublishDate.Reverse "Params.featured" true) }}
                <div class="glide__slide overflow-hidden">
                    {{ partial "post-featured-card" . }}
                </div>
                {{ end }}
            </div>
        </div>
        
    </div>


</article>
{{ end }}
