<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    <head>
        {{ partial "head/meta.html" . }}
        {{ partialCached "head/css.html" . }}
        {{ partial "head/external.html" . }}
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <style>
        @import url('https://fonts.cdnfonts.com/css/gotham');
        </style>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700&display=swap" rel="stylesheet">
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500;600;700&display=swap');
        </style>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    </head>
    <body class="page-{{- .Kind }} flex flex-col min-h-screen">
        {{- partial "dev-size-indicator.html" . -}}

        
          <div class="flex flex-col content-center bg-yellow-500 px-10" style="min-height:550px">
            <div class="basis-1/4 mx-auto py-10">
              <p class="text-6xl sm:text-center" style="font-family: 'Exo 2'; font-weight: 700;">
                COPT
              </p>
            </div>
            <div class="basis-1/4 mx-auto py-10">
              <p class="text-3xl sm:text-center" style="font-family: Gotham; font-weight: 400; font-style: normal; font-weight: 400; text-align: center;">
                SAFE, FAST PAYMENTS.
              <p>
            </div>
            <div class="basis-1/4 mx-auto py-10">
              <p class="text-2xl sm:text-center" style="font-family: Gotham; font-weight: 400;font-style: normal; text-align: center;">
                Sell. Get paid. Shop. Join our rapidly growing community of buyers and sellers.
              </p>
            </div>

            <div class="basis-1/4 mx-auto py-10">
              <button class="h-12 px-6 m-2 text-lg text-indigo-100 transition-colors duration-150 bg-black rounded-full focus:shadow-outline hover:bg-indigo-800"><i class='fab fa-discord' style='font-size:24px'></i>&nbsp;Join our Discord</button>
            </div>

          </div>

          <div class="flex grid grid-cols-1 gap-6">
            <div class="h-16 m-auto pt-12 col-span-1">
              <p class="text-3xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal;text-align: center;">
                OUR VERIFIED SELLERS
              </p>
              <p class="text-xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal;text-align: center;">
                Check out the shops of our most trusted sellers in the community.
              </p>
              <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 m-auto">
                {{ range first 6 .Site.Data.seller.sellers }}
                    <div class="p-10"><a href="{{ .url }}"><img class="border-4 border-grey rounded-full mx-auto w-24 h-24" src="{{ .image_url }}" alt="" width="120" height="120"></a></div>
                {{ end }}
              </div>
            </div>

          </div>






    </body>
</html>
