<!DOCTYPE html>
<html lang='{{ .Site.LanguageCode }}'>
    <head>
        {{ partial "head/meta.html" . }}
        {{ partialCached "head/css.html" . }}
        {{ partial "head/external.html" . }}
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <link href="https://fonts.cdnfonts.com/css/gotham" rel="stylesheet">
        <style>
        @import url('https://fonts.cdnfonts.com/css/gotham');
        </style>
    </head>
    <body class="page-{{- .Kind }} flex flex-col min-h-screen">
        {{- partial "dev-size-indicator.html" . -}}
        {{- partialCached "header.html" . -}}

        <!-- <div class="flex h-screen">
          <div class="m-auto">
            <h3>title</h3>
            <button>button</button>
          </div>
        </div> -->

        <div class="grid grid-cols-1">
          <div class="flex grid grid-cols-1 bg-yellow-500 gap-6">
            <div class="h-32 m-auto">
              <p class="text-4xl pt-6 pl-2" style="font-family: Gotham;">
                COPT
              </p>
            </div>
            <div class="h-16 m-auto">
              <p class="text-2xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal">
                SAFE, FAST PAYMENTS.
              <p>
            </div>
            <div class="h-16 m-auto">
              <p class="text-2xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal">
                Sell. Get paid. Shop. Join our rapidly growing community of buyers and sellers.
              </p>
            </div>

            <div class="m-auto pb-10">
              <button class="h-12 px-6 m-2 text-lg text-indigo-100 transition-colors duration-150 bg-indigo-700 rounded-lg focus:shadow-outline hover:bg-indigo-800">Join our Discord</button>
            </div>

          </div>

          <div class="flex grid grid-cols-1 gap-6">
            <div class="h-16 m-auto pt-12">
              <p class="text-3xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal">
                OUR VERIFIED SELLERS
              </p>
            </div>
            <div class="h-16 m-auto">
              <p class="text-xl pl-2" style="font-family: Gotham; font-weight: 400;font-style: normal">
                Check out the shops of our most trusted sellers in the community.
              </p>
            </div>
          </div>

          <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4 m-auto">
            {{ range first 6 .Site.Data.seller.sellers }}
                <div class="p-10"><a href="{{ .url }}"><img class="border-4 border-grey w-24 h-24 md:w-48 md:h-auto rounded-full mx-auto" src="{{ .image_url }}" alt="" width="120" height="120"></a></div>
            {{ end }}
          </div>
        </div>


        <main class="flex-1 mx-4 pb-12 md:mx-12 lg:mx-24 mt-4 sm:mt-16">
        {{- block "main" . }}{{- end }}
        </main>


    </body>
</html>
